@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 169, 169, 169;
  --background-start-rgb: 229, 231, 235;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar-track {
  background: rgba(var(--background-start-rgb), 1);
  border-radius: 10px;
  margin: 4px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(var(--foreground-rgb), 0.7);
  border-radius: 10px;
  border: 4px solid rgba(var(--background-end-rgb), 0.5);
  transition: background 0.3s ease, border-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--foreground-rgb), 0.9);
  border-color: rgba(var(--background-end-rgb), 0.7);
}

* {
  scrollbar-color: rgba(var(--foreground-rgb), 0.7)
    rgba(var(--background-start-rgb), 1);
}

* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
